.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: black;
    box-shadow: 2px 2px 10px 0px rgba(255, 255, 255, 0.081);
    margin: 1rem 0rem;
    padding: .5rem ;
    font-size: 1.1rem;
    font-weight: 600;
    position: sticky;
    top: 0;
    left: 0;
    .containerLeft{
        display: flex;
        align-items: center;
        gap: 1rem;
        .searchBar{
            display: flex;
            align-items: center;
            gap: .5rem;
            border: .5px solid;
            padding: .3rem 1rem;
            border-radius: .5rem;
            input{
                background-color: transparent;
                outline: none;
                border: none;
                color: white;
            }
        }
    }
    button{
        font-size: 1rem;
        font-weight: 600;
        background-color: transparent;
        outline: none;
        border: none;
        color: white;
        cursor: pointer;
    }
}